<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.trans_backend_file.mapper.FileMapper">

    <resultMap id="FileTranslationPairsResultMap" type="com.example.trans_backend_file.model.entity.File">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="filePath" column="file_path" />
            <result property="fileName" column="file_name" />
            <result property="fileSize" column="file_size" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="isDeleted" column="is_deleted" />
    </resultMap>
    <select id="selectAllByProjectId">
        select * from file_project_record left join file on file.id = file_project_record.file_id
                 where file_project_record.project_id = #{projectId}
    </select>


</mapper>
