<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.trans_backend_file.mapper.ProjectMapper">

    <resultMap id="BaseResultMap" type="com.example.trans_backend_file.model.entity.Project">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="name" column="name" />
            <result property="createTime" column="create_time" />
    </resultMap>

</mapper>
