<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.trans_backend_file.mapper.TranslationPairsMapper">
    
    <resultMap id="TranslationPairsResultMap" type="com.example.trans_backend_file.model.entity.TranslationPairs">
        <id property="id" column="id" />
        <result property="fileId" column="file_id" />
        <result property="sourceText" column="source_text" />
        <result property="translatedText" column="translated_text" />
        <result property="vector" column="vector" typeHandler="com.example.trans_backend_file.mybatisPlusHandler.FloatArrayTypeHandler" />
        <result property="createTime" column="create_time" />
        <result property="version" column="version" />
        <result property="isNew" column="is_new" />
        <result property="position" column="position" />
    </resultMap>


    <select id="selectTransText" resultMap="TranslationPairsResultMap">
        SELECT id,file_id,source_text,translated_text FROM translation_pairs WHERE file_id = #{fileId} and position > #{position} LIMIT #{size}
    </select>
    <select id="getUserId" resultType="java.lang.Long">
        select file.user_id from translation_pairs left join file on translation_pairs.file_id = file.id where translation_pairs.id = #{id}
    </select>
    <select id="selectAllById" resultType="com.example.trans_backend_file.model.entity.TranslationPairs">
        select id,translated_text,version from translation_pairs where id in
        <foreach item="id" index="index" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
        for update
    </select>
    <select id="selectAllByUserId" resultType="com.example.trans_backend_file.model.vo.SelectTransPairsVo">
        SELECT
            translation_pairs.id,
            translation_pairs.file_id,
            tmp.file_name,
            translation_pairs.source_text,
            translation_pairs.translated_text
        FROM
            translation_pairs
                JOIN ( SELECT id, file_name FROM `file` WHERE user_id = #{id} ) AS tmp ON tmp.id = translation_pairs.file_id
        WHERE translation_pairs.translated_text is NOT NULL
    </select>
</mapper>
